*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    overflow-x:hidden;
    background:#000;
}


/* SAIZ PHONE */

.page{
    width:430px;
    height:764px;
    margin:auto;
    position:relative;
    overflow:hidden;
}


/* BACKGROUND PAGE */

.page-1{
    background-image:url("assets/images/background1.png");
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
}


.page-2{
    background-image:url("assets/images/background2-02.png");
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
}


/* SEMUA IMAGE */

img{
    position:absolute;
}


/* BISMILLAH */

.bismillah{
    width:400px;
    left:10px;
    top: 10px;
    z-index:2;
}


/* RAIKAN CINTA */

.raikan{
    width:400px;
    left:6px;
    top:10px;
    z-index:2;
}


/* NAMA */

.name{
    width:450px;
    left:-20px;
    top:-15px;
    z-index:2;
}


/* DATE */

.date{
    width:430px;
    left:0px;
    top:-5px;
    z-index:2;
}


/* BUNGA */

.flower-left{
    width:430px;
    left:0px;
    bottom:10px;
    z-index:1;
}


.flower-right{
    width:430px;
    right:0px;
    bottom:10px;
    z-index:1;
}


/* PAGE 2 TEXT */

.text2{
    width:450px;
    left:-13px;
    top:0px;
    z-index:2;
}


/* BUNGA 2*/

.flower2-02-02{
    width:430px;
    left:0px;
    bottom:0px;
    z-index:1;
}