/* ==========================
   CUSTOM FONT
========================== */

@font-face{
    font-family:"Brilyan Rogale DEMO VERSION";
    src:url("assets/font/Brilyan Rogale DEMO VERSION.otf") format("opentype");
}

@font-face{
    font-family:"Elegante Classica";
    src:url("assets/font/Elegante Classica.ttf") format("truetype");
}

@font-face{
    font-family:"MADE Sunflower PERSONAL USE";
    src:url("assets/font/MADE Sunflower PERSONAL USE.otf") format("opentype");
}

@font-face{
    font-family:"Montserrat-Bold";
    src:url("assets/font/Montserrat-Bold.ttf") format("truetype");
}

@font-face{
    font-family:"Montserrat-Medium";
    src:url("assets/font/Montserrat-Medium.ttf") format("truetype");
}




html{
    scroll-behavior:smooth;
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100%;

    background:
    radial-gradient(
        circle at top,
        #f5ead7,
        #c8aa7d
    );

    overflow-x:hidden;

    scroll-snap-type:y mandatory;

    display:flex;

    flex-direction:column;

    align-items:center;

    -webkit-font-smoothing:antialiased;
}


body.lock-scroll{

    overflow-y:hidden;

    height:100vh;

}


html.lock-scroll{

    overflow:hidden;

    height:100vh;

}


/* SAIZ PHONE */

.page{
    width:100%;
    max-width:430px;
    min-height:764px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    scroll-snap-align:start;
    flex-shrink:0;
}

 

.background{

    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    object-fit:fill;
    z-index:0;

}


/* KHAS PAGE 2 */

.page-2{
    width:100%;
    max-width:430px;
    height:2000px;
    margin:0 auto;
    position:relative;
    overflow-x:hidden;
}


.page-2 .background{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0;
}


/* SEMUA IMAGE */

img{
    position:absolute;
}


/* =========================
   GLOBAL DECORATION
========================= */

.leaf-decoration{

    display:none !important;

    position:fixed;

    overflow:visible;

    pointer-events:none;

    z-index:900;

    animation:leafSwing 8s ease-in-out infinite;

}

.leaf1{
    width:180px;
    top:450px;
    left:-90px;
    transform:
    scaleX(1) rotate(12deg);
}

.leaf2{

    position:fixed;

    width:160px;

    top:580px;

    right:-50px;

    z-index:950;

}

.leaf3{
    width:170px;
    bottom:50px;
    left:310px;
    transform:
    scaleX(-1) rotate(12deg);
}

@keyframes leafSwing{

    0%,100%{

        rotate:0deg;

    }


    50%{

        rotate:3deg;

    }

}

/* BISMILLAH */

.bismillah{
    width:100%;
    left:0px;
    top: 50px;
    z-index:2;
}


/* RAIKAN CINTA */

.raikan{
    width:100%;
    left:0px;
    top: 50px;
    z-index:2;
}


/* NAMA */

.name{
    width:100%;
    left:0;
    top:-15px;
    z-index:2;
}


/* DATE */

.date{
    width:100%;
    left:0px;
    top:-5px;
    z-index:2;
}


/* BUNGA */

.flower-left{
    width:100%;
    left:0px;
    bottom:80px;
    z-index:1;
}


.flower-right{
    width:100%;
    right:0px;
    bottom:80px;
    z-index:1;
}


/* ==========================
   PAGE 2 TEXT DOA LOVE
========================== */


/* BOX PARENT */

.doa-box,
.love-box{

    position:absolute;

}


/* DOA */

.doa{

    position:absolute;

    width:352px;

    left:4px;

    z-index:2;

}


.doa1{
    top:5px;
}


.doa2{
    top:5px;
}


.doa3{
    top:5px;
}


.doa4{
    top:5px;
}



/* LOVE */

.love{

    position:absolute;

    width:352px;

    left:4px;

    z-index:2;

}


.love1{
    top:20px;
}


.love2{
    top:20px;
}


.love3{
    top:20px;
}



/* =========================
   GLASS BOX DOA & LOVE
========================= */

.doa-box{

    top:900px;

    left:50%;

    transform:translateX(-50%);

    width:360px;

    height:420px;

}


.love-box{

    top:1480px;

    left:50%;

    transform:translateX(-50%);

    width:360px;

    height:450px;

}


.doa-box,
.love-box{

    position:absolute;

    left:50%;

    width:360px;

    border-radius:35px;


    /* GLASS */

    background:
    linear-gradient(
        135deg,
        rgba(255,255,255,0.25),
        rgba(255,255,255,0.08)
    );


    backdrop-filter:
    blur(15px)
    saturate(150%);

    -webkit-backdrop-filter:
    blur(15px)
    saturate(150%);



    border:
    1px solid rgba(255,255,255,0.45);



    box-shadow:

    0 20px 50px rgba(80,50,20,0.20),

    inset 0 1px 15px rgba(255,255,255,0.4);



    overflow:hidden;


    opacity:0;


    transform:
    translateX(-50%)
    translateY(60px)
    scale(.85);



    transition:

    opacity 1s ease,

    transform 1.2s cubic-bezier(.22,1,.36,1);


    z-index:1;

}



/* =========================
   LIGHT SHINE EFFECT
========================= */


.doa-box::before,
.love-box::before{


    content:"";

    position:absolute;


    top:-50%;

    left:-80%;


    width:60%;

    height:200%;


    background:

    linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,.5),
        transparent
    );


    transform:rotate(25deg);


    transition:1.5s ease;

}



/* =========================
   INNER GLOW
========================= */


.doa-box::after,
.love-box::after{


    content:"";

    position:absolute;

    inset:0;


    border-radius:35px;


    background:

    radial-gradient(
        circle at top,
        rgba(255,255,255,.25),
        transparent 60%
    );


    opacity:.5;

}




/* =========================
   SHOW ANIMATION
========================= */


.doa-box.show,
.love-box.show{


    opacity:1;


    transform:

    translateX(-50%)

    translateY(0)

    scale(1);


}



.doa-box.show::before,
.love-box.show::before{

    left:140%;

}

/* PAGE 2 TEXT */

.fadeText{
    opacity:0;
    transform:translateY(50px);
    transition:opacity 1.2s ease, transform 1.2s ease;
}


.fadeText.show{
    opacity:1;
    transform:translateY(0);
}


/* =========================
   SCROLL INDICATOR
========================= */

.scroll-indicator{

    position:absolute;

    left:50%;

    top:620px;   /* adjust ikut poster */

    transform:translateX(-50%);

    z-index:20;

    color:rgba(61, 0, 18, 0.8);

    font-size:18px;

    animation:scrollBounce 2s ease-in-out infinite;

}


@keyframes scrollBounce{

    0%,100%{

        transform:
        translateX(-50%)
        translateY(0);

        opacity:.4;

    }

    50%{

        transform:
        translateX(-50%)
        translateY(12px);

        opacity:1;

    }

}



/* =========================
   DOA LOVE LINE REVEAL
========================= */


.doa,
.love{

    opacity:0;

    transform:
    translateY(40px);

    transition:
    opacity .8s ease,
    transform .8s cubic-bezier(.22,1,.36,1);

}



.doa.show,
.love.show{

    opacity:1;

    transform:
    translateY(0);

}


/* =========================
   TEXT DELAY SEQUENCE
========================= */


.doa1{
    transition-delay:.2s;
}

.doa2{
    transition-delay:.5s;
}

.doa3{
    transition-delay:.8s;
}

.doa4{
    transition-delay:1.1s;
}


.love1{
    transition-delay:.5s;
}

.love2{
    transition-delay:.8s;
}

.love3{
    transition-delay:1.4s;
}




/* BUNGA 2*/

.flower2-02-02{
    width:100%;
    left:0px;
    bottom:0px;
    z-index:1;
}


/* ANIMATION */

.bismillah,
.raikan,
.name,
.date{
    opacity:0;
    animation:fadeUp 1.5s ease forwards;
}


.bismillah{
    animation-delay:0.3s;
}


.raikan{
    animation-delay:0.6s;
}


.name{
    animation-delay:1.2s;
}




@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}


/* =========================
   OPEN INVITATION GLASS
========================= */

#openInvitation{

    position:absolute;

    left:50%;

    bottom:200px;

    transform:translateX(-50%);

    width:220px;

    height:45px;

    border:none;

    border-radius:40px;

    color:rgb(105, 32, 32);

    font-size:15px;

    letter-spacing:1px;

    cursor:pointer;


    /* GLASS EFFECT */

    background:rgba(240,230,210,0.18);

    backdrop-filter:blur(12px);

    -webkit-backdrop-filter:blur(12px);


    border:1px solid rgba(255,255,255,0.35);


    box-shadow:

    0 8px 25px rgba(0,0,0,0.25),

    inset 0 1px 2px rgba(255,255,255,0.4);


    z-index:10;

    opacity:0.95;

    overflow:hidden;

    transition:all .3s ease;


    animation:pulse 2s infinite;

}


/* GLASS SHINE */

#openInvitation::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:60%;

    height:100%;


    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.45),
        transparent
    );


    transform:skewX(-25deg);

    animation:openShine 4s infinite;

}


@keyframes openShine{

    0%{

        left:-120%;

    }


    100%{

        left:160%;

    }

}


/* HOVER */

#openInvitation:hover{
    background:rgba(255,255,255,0.25);
}



/* ==========================
   DEBUG PAGE 2
========================== */

.page-2 svg{
    transform: translateX(0) !important;
}



/* =========================
   MUSIC BUTTON GLASS
========================= */

#musicBtn {

    display:none;

    position:fixed;

    right:25px;

    bottom:25px;

    width:55px;

    height:55px;

    border-radius:50%;

    border:none;

    cursor:pointer;

    font-size:22px;

    color:white;


    /* GLASS EFFECT */

    background:rgba(240,230,210,0.18);

    backdrop-filter:blur(12px);

    -webkit-backdrop-filter:blur(12px);


    border:1px solid rgba(255,255,255,0.35);


    box-shadow:

    0 8px 25px rgba(0,0,0,0.25),

    inset 0 1px 2px rgba(255,255,255,0.4);


    z-index:9999;


    opacity:0.9;


    transition:all .3s ease;


}



/* Hover */

#musicBtn:hover{

    transform:scale(1.08);

    background:rgba(255,255,255,0.25);

    opacity:1;

}



/* =========================
   MUSIC ROTATION
========================= */


.musicRotate {

    animation:
    rotateMusic 4s linear infinite,
    musicGlow 2s ease-in-out infinite;

}



/* Icon rotation */

@keyframes rotateMusic {


    from {

        transform:rotate(0deg);

    }


    to {

        transform:rotate(360deg);

    }


}



/* Glow effect */

@keyframes musicGlow {


    0%,100% {

        box-shadow:
        0 5px 20px rgb(235, 232, 230);

    }


    50% {

        box-shadow:
        0 5px 30px rgba(56, 22, 22, 0.8);

    }


}

/* =========================
   FLOATING DUST
========================= */

.dust-container {

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    pointer-events:none;

    z-index:50;

}


.dust {

    position:absolute;

    width:6px;
    height:6px;

    background:rgba(212,170,90,0.5);

    border-radius:50%;

    z-index:51;

    animation:floatDust 8s infinite ease-in-out;

}


/* =====================
   RANDOM DUST COLOR
===================== */


.dust:nth-child(3n+1){

    background:rgba(255,255,255,0.8);

    box-shadow:
    0 0 10px rgba(255,255,255,0.8);

}


.dust:nth-child(3n+2){

    background:rgba(212,170,90,0.7);

    box-shadow:
    0 0 10px rgba(212,170,90,0.8);

}


.dust:nth-child(3n+3){

    background:rgba(255,180,200,0.7);

    box-shadow:
    0 0 10px rgba(255,180,200,0.8);

}


/* POSITION DUST */


.dust:nth-child(1){
    left:15%;
    top:70%;
    animation-delay:0s;
}


.dust:nth-child(2){
    left:35%;
    top:50%;
    animation-delay:2s;
}


.dust:nth-child(3){
    left:60%;
    top:80%;
    animation-delay:4s;
}


.dust:nth-child(4){
    left:80%;
    top:40%;
    animation-delay:1s;
}


.dust:nth-child(5){
    left:45%;
    top:30%;
    animation-delay:3s;
}


.dust:nth-child(6){
    left:25%;
    top:20%;
    animation-delay:5s;
}



@keyframes floatDust {

    0% {

        transform:translateY(0) scale(1);

        opacity:0;

        filter:blur(1px);

    }


    30% {

        opacity:0.8;

    }


    100% {

        transform:translateY(-300px) scale(1.8);

        opacity:0;

    }

}



/* =========================
   CUSTOM LOCATION BUTTON
========================= */

.map-button{

    position:absolute;

    bottom:480px;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:14px 38px;

    color:#fff;

    text-decoration:none;

    font-size:15px;

    letter-spacing:1px;

    border-radius:50px;

    /* Glass Effect */

    background:rgba(240,230,210,0.15);

    backdrop-filter:blur(12px);

    -webkit-backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.25);

    box-shadow:
        0 8px 32px rgba(0,0,0,0.18),
        inset 0 1px 1px rgba(255,255,255,0.25);

    opacity:0.95;

    overflow:hidden;

    z-index:100;

    transition:all .3s ease;

    animation:locationPulse 2.5s ease-in-out infinite;

}


/* Glass Shine */

.map-button::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:60%;

    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.45),
        transparent
    );

    transform:skewX(-25deg);

    animation:glassShine 4s infinite;

}


/* Hover */

.map-button:hover{

    transform:translateX(-50%) scale(1.05);

    background:rgba(255,255,255,0.20);

    border:1px solid rgba(255,255,255,0.4);

    box-shadow:
        0 12px 35px rgba(0,0,0,0.25),
        inset 0 1px 2px rgba(255,255,255,0.35);

}


/* Shine Animation */

@keyframes glassShine{

    0%{

        left:-120%;

    }

    100%{

        left:160%;

    }

}





@keyframes locationPulse{


    0%{

        transform:translateX(-50%) scale(1);

        box-shadow:
        0 0 0 0 rgba(255,255,255,0.5);

    }


    50%{

        transform:translateX(-50%) scale(1.06);

        box-shadow:
        0 0 20px 5px rgba(255,255,255,0.25);

    }


    100%{

        transform:translateX(-50%) scale(1);

        box-shadow:
        0 0 0 0 rgba(255,255,255,0);

    }

}


/* =========================
   PAGE 3 BACKGROUND
========================= */


.page-3 .background {

    width:100%;

    height:100%;

    object-fit:cover;

    position:absolute;

    top:0;

    left:0;

    z-index:1;

}



/* =========================
   PAGE 3 ATURCARA
========================= */


.aturcara {

    position:absolute;

    width:240px;

    top:120px;

    left:50%;

    transform:translateX(-50%);

    z-index:3;

}



/* =========================
   PAGE 3 MASA
========================= */


.masa {

    position:absolute;

    width:170px;

    top:210px;

    left:50%;

    transform:translateX(-50%);

    z-index:3;

}



/* =========================
   PAGE 3 ICON LOCATION
========================= */


.location-icon {

    position:absolute;

    width:20px;

    top:250px;

    left:50%;

    transform:translateX(-50%);

    z-index:3;

}



/* =========================
   PAGE 3 UMMIE
========================= */


.ummie {

    position:absolute;

    width:180px;

    bottom:380px;

    left:50%;

    transform:translateX(-50%);

    z-index:3;

}



/* =====================
   PAGE 3 TEXT REVEAL
===================== */


.reveal{

    opacity:0;

    animation:textReveal 1.2s ease forwards;

}



.delay1{

    animation-delay:0.5s;

}



.delay2{

    animation-delay:1s;

}



.delay3{

    animation-delay:1.5s;

}



@keyframes textReveal{


    from{

        opacity:0;

        margin-top:-50px;

    }


    to{

        opacity:1;

        margin-top:0;

    }


}



/* =========================
   FIX LOCATION BUTTON PAGE 3
========================= */

.page-3 .map-button{

    position:absolute;

    left:50%;

    bottom:80px;

    transform:translateX(-50%);


    /* FLEX UNTUK ICON + TEXT */

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    z-index:100;

}


.location-small{

    position:static;

    width:18px;

    height:18px;

}



/* =====================
   COUNTDOWN REVEAL
===================== */


.countdown-reveal{

    position:absolute;

    width:100%;

    height:100%;

    z-index:10;


    opacity:0;

    transform:translateY(40px);

    transition:
    opacity 1s ease,
    transform 1s ease;

}



.page-3.show .countdown-reveal{

    opacity:1;

    transform:translateY(0);

}



/* =====================
   COUNTDOWN BOX
===================== */


.countdown{

    position:absolute;

    top:420px;

    left:50%;

    transform:translateX(-50%);


    display:flex;

    gap:10px;


    z-index:10;


    animation:
    floatCountdown 4s ease-in-out infinite;

}



.time-box{

    width:65px;

    height:65px;


    border:1px solid rgba(255,255,255,0.7);


    border-radius:15px;


    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;


    background:
    rgba(255,255,255,0.08);


    backdrop-filter:blur(5px);


    opacity:0;

    transform:translateY(25px);


    transition:

    opacity .8s ease,

    transform .8s ease;

}



.page-3.show .time-box{

    opacity:1;

    transform:translateY(0);

}



/* BOX DELAY */

.page-3.show .box1{

    transition-delay:.2s;

}


.page-3.show .box2{

    transition-delay:.4s;

}


.page-3.show .box3{

    transition-delay:.6s;

}


.page-3.show .box4{

    transition-delay:.8s;

}



/* =====================
   NUMBER STYLE
===================== */


.time-box span{

    color:white;

    font-size:24px;

    font-weight:500;

    letter-spacing:1px;


    text-shadow:

    0 0 10px rgba(255,255,255,0.5);


    animation:
    numberGlow 2s infinite ease-in-out;

}



.time-box small{

    color:white;

    font-size:10px;

    letter-spacing:1px;

}



/* =====================
   FLOAT EFFECT
===================== */


@keyframes floatCountdown{


    0%,100%{

        transform:
        translateX(-50%)
        translateY(0);

    }


    50%{

        transform:
        translateX(-50%)
        translateY(-8px);

    }


}



/* =====================
   NUMBER GLOW
===================== */


@keyframes numberGlow{


    0%,100%{

        opacity:1;

    }


    50%{

        opacity:.7;

    }

}



.page-3.show .countdown-reveal{

    opacity:1 !important;

    transform:translateY(0) !important;

}


.page-3.show .time-box{

    opacity:1 !important;

    transform:translateY(0) !important;

}


html, body{
    width:100%;
    overflow-x:hidden;
}
